.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    flex: 1;
    margin-left: 12px;
}
.name,
.username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
}
.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
}
